html {
    margin: 0;
    padding: 0;
  }

  body {
    background: rgb(29, 32, 32);
    margin: 0;
    padding: 0;
  }

  .top-menu {
    position: relative;
    background: rgba(29, 32, 32);
  }

  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-main:after {
    content: "";
    display: table;
    clear: both;
  }

  .left-item {
    float: left;
  }

  .right-item {
    float: right;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

  }

  .logo {
    width: 70px;
    height: 70px;
  }

  footer {
    width: 100%;
    height: 30%;
    flex: 0 0 auto;
    background: rgba(214, 184, 248);
    color: rgba(29, 32, 32);
    position: relative;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: rgba(214, 184, 248);
    text-decoration: none;
  }

  .text1 {
    font-size: 550%;
    font-weight: bold;
    color: white;
    font-family: 'Manrope', sans-serif;

    text-align: center;
    letter-spacing: 35px;
  }

  table {
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
  }

  .col1 {
    width: 60%;

  }

  .col2 {
    width: 40%;
  }

  .text2 {
    font-size: 100%;
    color: white;
    letter-spacing: 1px;
    font-family: monospace;
    padding: 10px;
  }

  .imagine1 {
    width: 300;
    float: right;
  }

  .text3 {
    font-size: 100%;
    color: white;
    letter-spacing: 1px;
    font-family: monospace;
    padding: 10px;
    
  }

  .imagine2 {
    float: left;
    width: 350;
  }
  .f1 {
    width: 100px;}