html {
    margin: 0;
    padding: 0;
  }

  body {
    background: rgb(29, 32, 32);
    margin: 0;
    padding: 0;
  }

  .top-menu {
    position: relative;
    background: rgba(29, 32, 32);
  }

  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-main:after {
    content: "";
    display: table;
    clear: both;
  }

  .left-item {
    float: left;
  }

  .right-item {
    float: right;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

  }

  .logo {
    width: 70px;
    height: 70px;
  }

  footer {
    width: 100%;
    height: 30%;
    flex: 0 0 auto;
    background: rgba(214, 184, 248);
    color: rgba(29, 32, 32);
    position: relative;
  }

  .a1 {
    color: white;
    text-decoration: none;
  }

  .a1:hover {
    color: rgba(214, 184, 248);
    text-decoration: none;
  }

  .a2 {
    color: white;
    text-decoration: none;
  }

  .a2:hover {
    color: rgb(29, 32, 32);
    text-decoration: none;
  }

  table {
    width: 100%;
    padding: 1%;
  }

  .text-header{
    font-size: 550%;
    font-weight: bold;
    color: white;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    letter-spacing: 35px;
  }
  
  .imagine-1 {
    width: 300px;
  }

  .text-1 {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 21px;
    padding: 10px;
    width: 250x;
    text-align: center;
  }

  .imagine-2 {
    width: 300px;
  }

  .imagine-3 {
    width: 300px;
    float: center;
  }

  .imagine-4 {
    width: 300px;
    float: center;
  }

  .imagine-5 {
    width: 300px;
    float: center;
  }

  .imagine-6 {
    width: 300px;
    float: center;
  }

  .imagine-7 {
    width: 300px;
    float: center;
  }

  .imagine-8 {
    width: 300px;
    float: center;
  }

  .imagine-9 {
    width: 300px;
    float: center;
  }

  .imagine-10 {
    width: 300px;
    float: center;
  }

  .imagine-11 {
    width: 300px;
    float: center;
  }

  .imagine-12 {
    width: 300px;
    float: center;
  }

  .imagine-13 {
    width: 300px;
    float: center;
  }

  .imagine-14 {
    width: 300px;
    float: center;
  }

  .text14 {
    color: white;
font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 21px;
    padding: 10px;
    width: 250x;
    text-align: center;
  }
  .comment-1 {
    font-size: 10;
    color: white;
    letter-spacing: 1px;
    font-family: monospace;
    font-style:italic;
    padding: 10px;
  }

    .block {
        position: relative;
        width: 200px;
      }

      .block:hover {
        transform: scale(1.3);
        animation: sizePlus 300ms ease-in-out;
      }

      @keyframes sizePlus {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.3);
        }
      }
      .td-1 {
        vertical-align: top;
        width: 10%;
      }
      .td-2 {
        vertical-align: center;
        width: 10%;
      }

      #Footer {
        background-color:  rgba(214, 184, 248);
        color: white;
        padding-top: 30px;
    }
    
    #Footer .footer-copyright {
        background-color:  rgba(214, 184, 248);
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #Footer .row {
        margin-bottom: 20px;
    }
    
    #Footer h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
        font-family: sans-serif;
    }
    
    #Footer h2 a{
        font-size: 50px;
        text-align: center;
       
    }
    
    #Footer a {
        color:  white;
        text-decoration: none;
    }
    #Footer a:hover {
      color:  rgb(29, 32, 32);
      text-decoration: none;
    }
    
    
    .content{
       flex: 1 0 auto;
       -webkit-flex: 1 0 auto;
       min-height: 200px;
    }
    
    #Footer{
       flex: 0 0 auto;
       -webkit-flex: 0 0 auto;
    }


